<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Oxygen Modeling" sequenceNumber="9">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="4.7.0.v20170515-1617"/>
<unit id="org.eclipse.egit.feature.group" version="4.9.2.201712150930-r"/>
<unit id="org.eclipse.emf.cdo.epp.feature.group" version="4.6.0.v20170602-1611"/>
<unit id="org.eclipse.emf.compare.egit.feature.group" version="1.2.2.201709090201"/>
<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.2.201709090201"/>
<unit id="org.eclipse.emf.ecoretools.design.feature.group" version="3.3.0.201706121316"/>
<unit id="org.eclipse.emf.ecoretools.explorer.contextual.feature.group" version="3.3.0.201706121316"/>
<unit id="org.eclipse.emf.ecp.sdk.feature.feature.group" version="1.15.0.20171204-2237"/>
<unit id="org.eclipse.emf.emfstore.sdk.feature.feature.group" version="1.9.0.v20170530-0703"/>
<unit id="org.eclipse.emf.parsley.sdk.feature.group" version="1.2.1.v20170625-1309"/>
<unit id="org.eclipse.emf.query.sdk.feature.group" version="1.11.0.201706061326"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.11.0.201706061339"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.11.0.201706061352"/>
<unit id="org.eclipse.epp.package.common.feature.feature.group" version="4.7.2.20171218-0600"/>
<unit id="org.eclipse.epp.package.modeling.feature.feature.group" version="4.7.2.20171218-0600"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.11.0.201706061437"/>
<unit id="org.eclipse.jdt.feature.group" version="3.13.2.v20171130-0906"/>
<unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.3.0.v20170607-1133"/>
<unit id="org.eclipse.pde.feature.group" version="3.13.2.v20171130-0510"/>
<unit id="org.eclipse.platform.feature.group" version="4.7.2.v20171130-0510"/>
<unit id="org.eclipse.sdk.feature.group" version="4.7.2.v20171130-0906"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="5.3.0.v20170605-1616"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.13.0.v20170609-0928"/>
<repository location="http://download.eclipse.org/releases/oxygen/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.palladiosimulator.branding.feature.feature.group" version="1.0.0"/>
<unit id="org.palladiosimulator.license.feature.group" version="1.0.0"/>
<repository location="https://sdqweb.ipd.kit.edu/eclipse/palladio/supporting/branding/releases/latest/"/>
</location>
</locations>
</target>
